<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Group</title>
    <script type = "text/javascript" src="webservices.js"></script>

</head>
<body>
    <form>
        <input type="radio" name="slider" id="business">
        <label for="business">Business</label>
        <br>
        <input type="radio" name="slider" id="university">
        <label for="university">University</label>
        <br>
        <input type="radio" name="slider" id="club">
        <label for="club">Club</label>
        <br>

        <a href="/creategroup" onclick="radioCheck();" id="url">Continue</a>




    </form>
</body>
</html>
